body {
  margin: 0 auto;
  padding: o;
}

header {
  background-image: url(../img/Rectangle.jpg);
  background-clip: border-box;
}
header .container {
  margin: 0 200px;
}
header .header__logo {
  width: 134px;
  height: 66px;
  top: 30px;
  left: 405px;
  margin-top: 30px;
}
header .father {
  display: flex;
  gap: 335px;
}
header .header_nav {
  display: flex;
  gap: 30px;
}
header a {
  color: #fff;
  width: 100px;
  height: 16px;
  font-family: Raleway;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: left;
  text-decoration: none;
  margin-top: 55px;
}
header .header__h3 {
  width: 556px;
  height: 109px;
  top: 296px;
  left: 682px;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: #d4c17f;
  margin-top: 225px;
  margin-left: 200px;
}
header .header__father {
  display: flex;
  gap: 100px;
  margin-top: 340px;
  margin-bottom: 70px;
  margin-left: 220px;
}
header .header__dad {
  display: flex;
  gap: 15px;
}
header .header__btn {
  display: none;
}
@media (max-width: 768px) {
  header .header_nav {
    display: none;
  }
  header .header__btn {
    display: block;
    margin-left: 300px;
  }
  header .header__father {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  header .header_nav {
    display: none;
  }
  header .header__btn {
    display: block;
    margin-left: 300px;
  }
  header .header__father {
    flex-direction: column-reverse;
  }
}

.build {
  margin-top: -70px;
}
.build .container {
  background: #242b33;
}
.build .build__father {
  display: flex;
  gap: 70px;
  margin: 0 200px;
}
.build .build__child {
  margin-top: 120px;
}
.build .build__img {
  width: 80px;
  height: 80px;
  margin-left: 50px;
}
.build .build__p {
  width: 193px;
  height: 47px;
  top: 1093px;
  left: 563px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 375px) {
  .build .build__father {
    flex-direction: column;
  }
}
.build .nashi {
  margin: -40px 200px;
}
.build .nashi__h3 {
  padding-top: 120px;
  width: 292px;
  height: 36px;
  top: 1260px;
  left: 405px;
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #d4c17f;
}
.build .nashi__father {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.build .nashi__bg {
  background-image: url(../img/IMG1.png);
  width: 535px;
  height: 320px;
  top: 1396px;
  left: 405px;
}
.build .nashi__bg2 {
  background-image: url(../img/IMG2.png);
  width: 535px;
  height: 320px;
  top: 1396px;
  left: 405px;
}
.build .nashi__p {
  width: 353px;
  height: 22px;
  top: 1994px;
  left: 1020px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-top: 248px;
  margin-left: 50px;
}
.build .xotit {
  background-image: url(../img/bg.jpg);
  margin-top: 40px;
}
.build .xotit .xotit__father {
  display: flex;
  margin: 0 200px;
  padding-top: 180px;
  padding-bottom: 180px;
  gap: 30px;
}
.build .xotit .xotit__h3 {
  width: 380px;
  height: 36px;
  top: 2246px;
  left: 405px;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #d4c17f;
}
.build .xotit .xotit_p {
  width: 535px;
  height: 114px;
  top: 2332px;
  left: 405px;
  font-family: Raleway;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.build .xotit .xotit__input {
  width: 255px;
  height: 50px;
  top: 2311px;
  left: 975px;
  opacity: 20%;
  font-family: Raleway;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  background: #ffffff;
  color: #fff;
  margin-bottom: 30px;
}
.build .xotit .xotit__child {
  margin-top: 100px;
}
.build .xotit .xotit_p__long {
  width: 255px;
  height: 28px;
  top: 2407px;
  left: 975px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #e7e7e7;
}
.build .xotit .xotit__btn {
  width: 255px;
  height: 50px;
  top: 2396px;
  left: 1260px;
  background: #d4c17f;
  font-family: Raleway;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  border: 0;
}
@media (max-width: 375px) {
  .build .xotit .xotit__father {
    flex-direction: column;
  }
}
.build .video {
  margin: 40px 300px;
}
.build .container .div__h3 {
  width: 292px;
  height: 36px;
  top: 3456px;
  left: 405px;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 100px;
}
.build .container .div {
  width: 910px;
  height: 358px;
  top: 3592px;
  left: 405px;
  background: #626262;
}
.build .est {
  margin: 0 200px;
}
.build .est .est__h3 {
  width: 292px;
  height: 36px;
  top: 4130px;
  left: 405px;
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #d4c17f;
  padding-top: 200px;
}
.build .est .est__father {
  display: flex;
  gap: 35px;
}
.build .est .est_p__long {
  width: 255px;
  height: 28px;
  top: 2407px;
  left: 975px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #e7e7e7;
}
.build .est .est__btn {
  width: 255px;
  height: 50px;
  top: 2396px;
  left: 1260px;
  background: #d4c17f;
  font-family: Raleway;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  border: 0;
}
.build .est .est__input {
  width: 255px;
  height: 50px;
  top: 2311px;
  left: 975px;
  opacity: 20%;
  font-family: Raleway;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  background: #ffffff;
  color: #fff;
  margin-bottom: 60px;
}
@media (max-width: 375px) {
  .build .est .est__father {
    flex-direction: column;
  }
}

footer {
  background: #2D343C;
}

.footer__father {
  display: flex;
  margin: 0 200px;
  gap: 150px;
}

.footer__child {
  margin-top: 140px;
}
.footer__child p {
  color: #fff;
}

@media (max-width: 375px) {
  .footer__father {
    flex-direction: column;
    gap: -200px;
  }
}/*# sourceMappingURL=style.css.map */